body{
    font-family: cursive;
      background-color: salmon;
    
}
img{
width : 200px;
            height : 200px;
            
        }
        table{
            margin:auto;
          
        }
        tr{
            font-size: 20px;
}
